@{
    ViewBag.Title = "Home Page";
}
<link href="~/Scripts/StyleSheet.css" rel="stylesheet" />
<html>
<head>
    <title></title>
</head>
<body>
    <div id="toggleMenu" onclick="toggleMenu()"></div>
    <nav id="menu">
        <img src="~/Content/logo.png" />
      
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Cases</a></li>
            <li><a href="#">Personal Projects</a></li>
            <li><a href="#">About Me</a></li>
            <li><a href="#">Contact</a></li>

        </ul>
    </nav>
    <script>
        //1 means open and 0 will mean closed
        var toggleStatus = 1;

        function toggleMenu() {
            if (toggleStatus == 1) {
                document.getElementById("menu").style.left = "-240px";
                toggleStatus = 0;
            }
            else if (toggleStatus == 0) {
                document.getElementById("menu").style.left = "0px";
                toggleStatus = 1;
            }

        }
    </script>
</body>
</html>