*{
    margin: 0px;
    padding: 0px;

}

body {
    background-color:#272727;
}
nav {
    width: 240px;
    background-color: #fff;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    transition: all ease-in-out 200ms;
    -webkit-transition: all ease-in-out 200ms;
}

nav img{
    display:block;
    width: 80%;
    margin:0px auto;
    padding-top:30px;
}

nav ul{
    padding-left:30px;
    padding-top: 60px;
}

    nav ul li{
        list-style:none;
        padding: 4px 0px;
    }
    nav ul li a{
        font-family:Arial;
        font-weight:300;
        color: #272727;
        text-transform:uppercase;
    }

